* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  background-color: #f4f5f1;
  font-family: "EB Garamond", serif;
  color: #8d7e7e;
}
#back {
  display: none;
}
#welcome {
  text-align: center;
  margin: 6em;
  font-weight: lighter;
}

#main {
  width: 70%;
}

a {
  text-decoration: none;
}
/*NAVIGATION*/
.copyright {
  text-align: center;
  font-size: xx-small;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 4em 2em;
  font-weight: 500;
  align-items: center;
  text-decoration: none;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  list-style: none;
}
.nav_link {
  transition: 0.7s ease;
  text-decoration: none;
}
.nav_link:hover {
  color: #585252;
}

/*Hamburger*/
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #8d7e7e;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  #sign {
    opacity: 0;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;

    right: 100%;
    top: 0px;
    gap: 20;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100%;
    padding: 200px;
  }

  .nav-items {
    margin: 16px 0px;
  }
  .nav-menu.active {
    left: 0;
  }
}
/*HOME MENU*/
#line {
  border-bottom: #8d7e7e solid 1px;
  text-align: center;
  width: 4em;
  margin: auto;
  padding-top: 1.5em;
}
#line_cookie {
  border-bottom: #8d7e7e solid 1px;
  text-align: center;
  width: 10em;
  margin: auto;
  padding-top: 1.5em;
}
.line1 {
  border-bottom: #8d7e7e solid 1px;
  width: 10%;
  margin-bottom: 1em;
}

#line3 {
  border-right: #8d7e7e 1px solid;

  width: 10em;
  position: absolute;
  margin-left: 4em;
}

.home_menu {
  margin: 5em 0em;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.main_menu p {
  padding: 3em 2em;
  text-align: justify;
}
.about_queegan {
  display: flex;
  width: 50%;
  text-align: center;
}
.sm {
  text-align: center;
  margin: 1em;
}
.about_queegan_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4em 0em;
  font-size: 1.2rem;
}
#followers {
  border-bottom: #8d7e7e solid 1px;
}
.order_reservation {
  display: flex;
  justify-content: flex-end;
  margin-left: 25em;

  font-weight: bold;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .home_menu {
    margin: 2em 0em;
    display: block;
  }
  .main_menu p {
    padding: 1em 2em;
    text-align: justify;
  }
  .main_menu h3 {
    padding-top: 1em;
  }
  #line {
    padding-top: 1em;
  }
  .about_queegan_img {
    display: block;
    text-align: center;
    margin: 0em;
    font-size: 1rem;
  }
  .about_queegan_img img {
    width: 50%;
    margin: 1em 0;
  }
  .order_reservation {
    display: block;
    text-align: center;
    margin: 2em 0em;
    font-weight: bold;
  }
  #order {
    padding: 0;
  }
  #welcome {
    text-align: center;
    margin: 3em 0em;
    font-size: 1em;
    font-weight: lighter;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #welcome {
    text-align: center;
    margin: 5em;
    font-weight: lighter;
  }
  .home_menu {
    margin: 7em 0em;
  }
  .main_menu p {
    padding: 1em 1em;
    text-align: justify;
  }
  .main_menu h3 {
    padding-top: 1em;
  }
  .about_queegan_img {
    font-size: 1rem;
  }
  .order_reservation {
    display: flex;
    justify-content: flex-end;
    margin: 0em 3em;
  }
  #order {
    padding: 0em 0em;
  }
}
/*FOOTER*/

.footer {
  display: flex;
  justify-content: space-evenly;
  margin: 0em 20em;
  border-top: #8d7e7e solid 1px;
  padding-top: 2em;
}
#news {
  padding-bottom: 1em;
}

#text_email a {
  padding-left: 3.8em;
}
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .footer {
    margin: 0em;
    display: block;
    text-align: center;
    padding-top: 0em;
  }
  #text_email a {
    padding: 1em;
  }
  .copyright {
    margin: 1em 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    margin: 0em 5em;
  }
  .copyright {
    margin: 1em;
  }
}
/*Restaurant*/
#restaurant_heading {
  text-align: center;
  margin-top: 1em;
}
.about_rest {
  display: flex;
  justify-content: space-between;
  border-right: #8d7e7e 1px solid;
}
.rest_par {
  margin: 5em 0em;
  padding: 0 2em;
  text-align: justify;
}
#tres_bon {
  text-align: end;
  font-family: "EB Garamond", serif;
  font-style: italic;
  margin-right: 2em;
  font-weight: 500;
}
.rest_img {
  text-align: center;
  margin-top: 5em;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  #restaurant_heading {
    margin-top: 1em;
  }
  .about_rest {
    display: block;
  }
  .rest_par {
    margin: 2em 0em;
    padding: 0 1em;
  }
  #tres_bon {
    text-align: center;
    margin: 0;
  }
  .rest_img {
    text-align: center;
    margin: 2em 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #restaurant_heading {
    margin-top: 2em;
  }
  .rest_par {
    margin: 2em 0em;
    padding: 0 1em;
  }
}

/*OUR CHEF*/
.our_chef_img {
  display: flex;
  justify-content: space-between;
  margin: 7em 0em;
  align-items: center;
}
.chef_padding {
  padding: 0em 2em;
}
.our_chef {
  text-align: center;
  margin-top: 1em;
}

.theStory_chef {
  border-bottom: #8d7e7e 1px solid;
  padding-bottom: 1em;
}
.theStory_chef h4 {
  padding-left: 2.3em;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .our_chef_img {
    display: block;
    text-align: center;
    margin: 3em 0em;
  }
  .our_chef {
    margin-top: 1em;
  }
  .theStory_chef {
    text-align: justify;
  }
  .theStory_chef h4 {
    padding-left: 0em;
    margin-top: 1em;
  }
  .chef_padding img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .our_chef_img {
    display: block;
    text-align: center;
    margin: 3em 0em;
  }
  .our_chef {
    margin-top: 1em;
  }
  .theStory_chef {
    text-align: justify;
  }
  .theStory_chef h4 {
    padding-left: 0em;
    margin-top: 1em;
  }
}
/*Contact*/
.contact {
  text-align: center;
  margin-top: 1em;
}
#touch_us {
  text-align: center;
  margin-top: 3em;
  font-size: 1.5em;
}
.contact_box {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2em;
  margin: 3em;
}

.cont {
  padding: 0 10em;
  height: 10em;
}

.contact_box1 {
  border-right: #8d7e7e 1px solid;
}

.send_us_paragraph {
  text-align: center;
  font-size: 1.3rem;
  margin: 5em;
}

.name {
  text-align: center;
  padding: 0.5em;
}
.name input {
  border-bottom: 1px solid #8d7e7e;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 20em;
}

.email {
  text-align: center;
  padding: 0.5em;
}
.email input {
  border-bottom: 1px solid #8d7e7e;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 20em;
}
.subject {
  text-align: center;
  padding: 0.5em;
}
.subject input {
  border-bottom: 1px solid #8d7e7e;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 20em;
}
.message_box {
  text-align: center;
  padding: 1.7em;
}

.message_box textarea {
  width: 20em;
}
.btn {
  text-align: center;
  margin-left: 11.8em;
  margin-top: -1em;
}
.submit {
  border: #8d7e7e 1px solid;
  padding: 0.5em 1.5em;
  font-size: 1rem;
}
.maps {
  text-align: center;
  margin: 6em;
  opacity: 90%;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .contact {
    margin: 1em;
  }
  .contact_box {
    display: block;
    text-align: center;
  }
  .cont {
    padding: 0em;
    height: 8em;
    border-bottom: #8d7e7e 1px solid;
  }
  .contact_box1 {
    border-right: none;
  }
  .maps {
    margin-top: 3em;
    margin-bottom: 0em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contact_box {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2em;
    margin: 3em;
  }
  .cont {
    padding: 0 5em;
    height: 10em;
  }
}
/*Gift Voucher*/

.voucher {
  border: 1px solid #8d7e7e;
  height: 35em;
  margin: 2em;
}
.first {
  display: flex;
  justify-content: center;
}
.voucher_input {
  border: 1px solid #8d7e7e;
  font-size: 1.3rem;
  margin: 1em 2em;
  width: 10em;
  text-align: center;
}

.gift_card {
  text-align: center;
}
.gift_value {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  font-size: 1.2rem;
}
.img_voucher {
  margin-top: 5em;
}

.text {
  border: 1px solid #8d7e7e;
  width: 15em;
}

.arrow {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1em;
}

.arrow h4 {
  margin: 0em 4em;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .two,
  .three {
    display: none;
  }
  .voucher {
    border: none;
  }
  .img_voucher {
    display: none;
  }

  .arrow h4 {
    margin: 0em;
    padding: 0em 1em;
    font-size: 0.7rem;
  }
  .arrow h4 {
    margin: 0em 0em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .img_voucher {
    width: 50%;
  }
}

/* menu cookies*/

.menu_first {
  display: flex;
  justify-content: space-between;
  margin: 7em 0em;
  text-align: center;
}
.cookies_img {
  margin: 3em;
}

.chapter_one {
  margin: 3em;
}
